.job-details-right-pane-div {
    width: 28% !important;
    gap: 0px !important;
    border: 1px 1px 0px 0px !important;
    opacity: 0px !important;
    border-color: #E7E7E7 !important;
    padding: 1rem !important;
    border-radius: 8px !important;
  }
  
  .btn {
    font-family: General Sans  !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    text-transform:capitalize !important;
    border-radius: 0.5rem !important;
  }
  
  .role-name {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  
.button_box{
  display: flex;
  gap: 2rem !important;
  width: 360px !important;
  /* height: 361px !important; */
  margin-top: 36px !important;
  margin-left: 1.25rem;
  margin-right: 1rem;
  gap: 24px !important;
  opacity: 0px !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    border: 0.8px !important;
}

.job-stats {
  margin-top: 2rem !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}


.stats-div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.stats-text {
  font-family: General Sans !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 21.6px !important;
  text-align: left !important;
}

.stats-sub-text {
  font-family: General Sans !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 27px !important;
  text-align: left !important;

}
